*.class
bin/*
classes/*
jar/*
release/*
.externalToolBuilders
.metadata/*
.project
.settings/*
glob:src/savedGame
gameTypes
pieceTypes
savedGame
savedGames/*
ACN File
completedGames/*
gamesInProgress/*
variants/*

# Package Files #
*.war
*.ear
/*.DS_Store
/bin
